<configuration>
  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
      </pattern>
    </encoder>
  </appender>

  <logger name="org.springframework" level="TRACE" />
  <logger name="org.springframework.data" level="INHERITED" />

  <logger name="DataNucleus" level="INHERITED" />

  <logger name="DataNucleus.ValueGeneration" level="INHERITED" />
  <logger name="DataNucleus.General" level="INHERITED" />
  <logger name="DataNucleus.Transaction" level="INHERITED" />
  <logger name="DataNucleus.MetaData" level="INHERITED" />
  <logger name="DataNucleus.SchemaTool" level="INHERITED" />
  <logger name="DataNucleus.JPA" level="INHERITED" />
  <logger name="DataNucleus.Datastore" level="INHERITED" />
  <logger name="DataNucleus.ClassLoading" level="INHERITED" />
  <logger name="DataNucleus.Cache" level="INHERITED" />
  <logger name="DataNucleus.Utility" level="INHERITED" />
  <logger name="DataNucleus.Plugin" level="INHERITED" />
  <logger name="DataNucleus.Enhancer" level="INHERITED" />
  <logger name="DataNucleus.JDO" level="INHERITED" />

  <root level="INFO">
    <appender-ref ref="stdout" />
  </root>
</configuration>
